[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
behave = "*"
python-dotenv = "*"
pydantic-settings = "*"
python-crfsuite = "*"
pyhamcrest = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
httpx = "*"
coverage = "*"
sentry-sdk = {extras = ["fastapi"], version = "*"}
torch = "*"
numpy = "*"
pythainlp = {extras = ["thai2rom"], version = "*"}
pythaitts = "*"

[dev-packages]
